<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Student Project Evalution</title>
  <link rel="icon" href="images/favicon.ico">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- FONT AWESOME -->
  <script src="https://kit.fontawesome.com/3e1df15e03.js" crossorigin="anonymous"></script>


  <!-- CSS Section -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css">


</head>


<body>
  <!-- HEADER -->

  <!-- HEADER1 -->

  <div class="header-1">
    <nav class="navbar navbar-expand-md ">
      <a class="navbar-brand" href="">
        <b>Student Project Evalution</b>
      </a>
      <!-- <a class="navbar-brand text-white ml-4" href="/home"><b>Student Project Evalution</b></a> -->
      <form class="search-box d-flex" style="opacity:0" role="search">
        <input class="form-control  me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-danger btn-search" type="submit"><i
            class="fa-solid fa-magnifying-glass"></i></button>
      </form>

      <ul class="navbar-nav log-ins">
        <li class="nav-item">
          <a class="nav-link nav-link-1 log_in" href="#">Hello, <%=user.name%> <i
                class="fa-solid fa-user log-ic"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-1 log_in" href="/users/staff_logout">Sign Out <i
              class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- HEADER1 -->

  <div class="container space">
    <h3 class="std">Student Project Evalution</h3>
    <table class="table table-bordered" id="dataTable" cellspacing="0">
      <thead style="background-color: rgb(8, 8, 95); color:aliceblue">
        <tr>
          <th>BID</th>
          <th>Name</th>
          <th>USN</th>
          <th>Title</th>
          <th>Type</th>
          <th>Subject</th>
          <th>Guide</th>
          <th>Operation</th>
        </tr>
      </thead>

      <tbody style="background-color: rgb(12, 225, 225);">


        <% data.forEach(z=> { %>

          <tr>
            <% if (String(z.Guide)===String(user.name)) { %>
              <td>
                <%= z.BID%>
              </td>
              <td>
                <%= z.Name%>
              </td>
              <td>
                <%= z.USN%>
              </td>
              <td>
                <%= z.Title%>
              </td>
              <td>
                <%= z.Type%>
              </td>
              <td>
                <%= z.Subject%>
              </td>
              <td>
                <%= z.Guide%>
              </td>

              <td><a class="link" href="/<%= z.Operation %>" target="_blank">View PDF/</a><br>
                <a class="link" href="/staff_evaluate">Evaluate</a></td>

              <% } %>

          </tr>
          <% }); %>

      </tbody>
    </table>
    <button class="btn btn-success btns" onclick="exportToExcel()">Export to Excel</button>
  </div>
    <style>
      .link {
        color: rgb(115, 66, 238);
        margin-left: 1rem;
        transition: .3s;
      }

      .link:hover {
        color: rgb(60, 11, 158);
        text-decoration: none;
      }

      .std {
        margin-bottom: 2rem;
        margin-top: 1rem;
      }

      .table {
        width: 110% !important;
        margin-left: 0px !important;
      }

      .container {
        margin: 4rem !important;
      }

    </style>



    </section>

    <!-- FEATURED PRODUCTS -->
</body>
<script>
  function exportToExcel() {
    let table = document.getElementById("dataTable");
    let html = table.outerHTML;
    let url = 'data:application/vnd.ms-excel;charset=utf-8,' + encodeURIComponent(html);
    let downloadLink = document.createElement("a");
    downloadLink.href = url;
    downloadLink.download = "filename.xls";
    document.body.appendChild(downloadLink);
    downloadLink.click();
    document.body.removeChild(downloadLink);
  }
  </script>

</html>